body {
    background-color: #9ca7c1;
}

div#interface {
    width: 90%;
    height: 620px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
}
 
header#cabecalho img#icone {
    position: absolute;
    left: 1090px;
    top: 50px;
    width: 13%;
}

header#cabecalho {
    border-bottom: 1px #6e85c2 solid;
}

header#cabecalho hgroup {
    margin-left: 25px;
}

header#cabecalho h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #6e85c2;
    text-shadow: 3px 1px 1px rgba(0,0,0,.6);
    margin-bottom: 0px;
}

header#cabecalho h2 {
    margin-top: 6px;
    margin-bottom: 25px;
}

div#interface footer#rodape {
    clear: both;
    border-top: 1px #6e85c2 solid;
}

section#corpo {
    height: 75%;
    margin-left: 15%;
    margin-right: 15%;
}

section#corpo h1 {
    text-align: center;
}

div#interface footer#rodape p {
    text-align: center;
    margin-top: 5px;
}

/* Formatação do Menu*/

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 455px;
}

nav#menu li {
    display: inline-block;
    background-color: #1e1c1c;
    padding: 10px;
    margin: 1px;
}

nav#menu li:hover {
    background-color: #6e85c2;
    text-decoration: underline;
}

nav#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor:pointer
}

nav#menu .active {
    background-color: #6e85c2;
    text-decoration: underline;
}

.dinav#menu sabled {
    background-color: #1e1c1c;
}

button {
    background-color: #1e1c1c;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 15%;
    height: 40px;
    border: 1px solid;
    border-radius: 23px;
}
  
button:hover {
    background-color: #6e85c2;
    border-color: #6e85c2;
    color: black;
}

input {
    border: 1px solid;
    border-radius: 6px;
    height: 25px;
}

select {
    border: 1px solid; 
    border-radius: 6px;
    height: 30px;
    text-align: center; /* para firefox */
    text-align-last: center; /* para chrome */
    width: 50%;
}

table {
    width: 100%;
}

input#resultado-input {
    width: 50%;
    text-align: center;
    font-weight:bold;
}
